/out
/.idea
/gradle
gradlew
gradlew.bat
.floo
.flooignore
bulletjme.dll
lwjgl.dll
lwjgl64.dll
OpenAL32.dll
OpenAL64.dll
src/main/resources/assets/sky/test.jpg
src/main/resources/assets/sky/test2.jpg
src/main/java/net/starype/colorparkour/entity/platform/DebugPlatform.java
